In [21]:
my_age = 33
your_age = 30
my_age = your_age
print(my_age)
# my_age değişkeni your_age değişkenine atanmıştır.

30

In [3]:
variable = 3.14
VAR_ONE = 'something'# Büyük harf tavsiye edilmez.

In [4]:
if
or
and
True
False
in
while
for
else
pass
break
yield
# Değişkenlere pythonun sıkça kullandığı
# kelimelerle isim vermemeye çalışmalıyız.

SyntaxError: invalid syntax (151506269.py, line 1)

In [5]:
x = y = z = "same"
print(x)
print(y)
print(z)
# değer atamalarında sağdan sola atama yapmalı , bu mantıkla düşünmeliyiz.

same
same
same

In [8]:
jan = march = may = aug = july = octo = dec = 31
feb = 28
apr = june = sept = nov = dec = 30
print (jan, feb, march, apr, may , june, july, aug, sept, octo, nov, dec)

31 28 31 30 31 30 31 31 30 31 30 30

In [12]:
thomas = 33
marry = 28
walter = 'none' # rezerve etmek istediğimiz değere value olarak none atanır.
isabella = 46
print(thomas, marry, walter, isabella)

33 28 none 46

In [17]:
website = "apple.com"
print(website)
website = "clarusway.com"
print(website)

apple.com
clarusway.com

In [18]:
a = 11
b = 22
c = 44
a = 33
b = 55
c = a
print(a, b, c)

33 55 33

In [19]:
x = 15
y = 33
z = x
x = y
print(x)
print(y)
print(z)
# son verilen değere odaklanmalıyız.

33
33
15

In [20]:
a, b, c = 5, 3.2, "hello"
print(a)
print(b)
print(c)

5
3.2
hello

In [23]:
my_text = 'being a good person'
print(type(my_text))
# print komutunun içinde "type" fonk. çalıştırırsak tür çıktısı verir.

<class 'str'>

In [28]:
my_integer = 40
negative_number = -18
print(my_integer)
print(negative_number)
# pozitif yada negatif tamsayıların ondalıksız halini verir.

40
-18

In [31]:
my_float = 40.0
negative_float = -18.6
print(my_float)
print(negative_float)
# sayıları ondalıklı kısmıyla yazdırır.

40.0
-18.6

In [32]:
my_data = 'I am string'
print(type(my_data))

<class 'str'>

In [33]:
str(3.14)

'3.14'

In [34]:
str(False)

'False'

In [35]:
pi = 3.14
converted_pi = int(pi)
print(converted_pi)
print(type(converted_pi))
# float integer dönüşümü

3
<class 'int'>

In [38]:
pi = 3.14
r = 5
print(pi*r*r)

78.5

In [39]:
r = 5
area = 3.14 * r * r
print(area)

78.5